@media only screen and (min-width: 768px){
    .encabezado_principal{
        margin-left: 10vw;
    }

    .contenedor_titulo{
        height: 250px;
    }

    .img_poster_efecto{
        height: 200px;

        left: -100px;
    }
}

@media only screen and (min-width: 1280px){
    .encabezado_principal{
        margin-left: 0vw;
    }

    .contenedor_titulo{
        height: 400px;
    }

    .img_poster_efecto{
        height: 350px;

        left: -250px;
    }
}


@font-face{
    font-family: coolvetica;
    src: url(../recursos/coolvetica/coolvetica.otf);
}

