@media only screen and (min-width: 768px){
    .banderilla_mepcad{
        font-size: 3rem;
    }
}

@media only screen and (min-width: 1280px){
    .banderilla_mepcad{
        font-size: 4rem;
    }
}


@font-face{
    font-family: coolvetica;
    src: url(../recursos/coolvetica/coolvetica.otf);
}

