*{
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;

    background-color: #0076ED;

    display: flex;
    flex-flow: column;
    justify-content: center;
}

.img_contenedor{
    margin-top: 1%;

    height: 75%;
    width: 100%;

    display: flex;
    justify-content: center;

    object-fit: contain;
}

.img_poster{
    width: 30%;
}

.contenedor_galeria{
    margin-top: 25px;
    margin-left: 12.5%;
    margin-right: 12.5%;

    width: 75vw;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: minmax(150px, 250px);
    grid-auto-flow: dense;
    gap: 1vw;


    background-color: red;
}

.galer{
    background-color: white;
}

.galeria_larga{
    grid-column-end: span 2;
}

.galeria_ancha{
    grid-row-end: span 2;
}


.galer > img {
    width: 100%;
    height: 100%;

    object-fit: scale-down;
}

.titulo_lugar{
    width: 30%;
    height: 10%;
}

.letras_amarillas{
    width: auto;

    color: #ffff01;
}

.texto_lateral{
    width: 45vw;
    height: 100%;

    background-color: gray;

    transition: right 0.15s;
    position: fixed;
    top: 0;
    right: -45vw;
}

.imagen_lateral{
    width: 45vw;
    height: 100%;

    background-color: coral;

    transition: left 0.15s;
    position: fixed;
    top: 0;
    left: -45vw;
}

.imagen_lateral_anim{
    transition: left 0.15s;

    left: 0;
}

.texto_lateral_anim{
    transition: right 0.15s;

    right: 0;
}

.bton_cerrar{
    background-color: red;

    width: 50px;
    height: 50px;
}

.contenedor_texto{
    width: 90%;

    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;

    font-size: 2em;
}

.contenedor_imagen > img {
    width: 90%;
    height: 100%;

    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;

    object-fit: scale-down;
}

