.renglon{
    margin: 15px;
}

.enfasis{
    color: #0076ED;
}

.visitar_sitio_web{
    width: 100%;
    
    display: block;

    text-align: center;
    font-size: 2rem;
}

.seccion_superior_lateral{
}

.seccion_inferior_lateral{
}

